In [36]:
import json
import requests
import pandas as pd
import numpy as np

<h1> Raad the file

In [37]:
with open('dests.txt', 'r') as f:
    Targets = [line.rstrip('\n') for line in f]

print(Targets)

['Istanbul', 'Amsterdam', 'Valletta', 'Basel', 'Doha']

In [38]:
api_key = ''
origins ="Tel Aviv-Jaffa"

In [39]:

Distance=[]
Duration=[]
Longitude=[]
latitude=[]

<h1> get the Longitude and Latitude

In [40]:
def get_lat_lng(address_string,api_key=api_key):
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address_string,api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            return("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
                if not response_data["status"] == "OK":
                    return ("google API problem")
            except:
                return ("Response not in valid JSON format")
    except:
        return("Something went wrong with requests.get")
    lat=response_data['results'][0]["geometry"]["location"]['lat']
    lng=response_data['results'][0]["geometry"]["location"]['lng']

    
    return lat,lng

<h1> get the distance and duration from Tel Aviv

In [41]:
def distance_duration(destinations,origins=origins,api_key=api_key):
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins=%s&destinations=%s&key=%s"% (origins,destinations,api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            return("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
                if not response_data["status"] == "OK":
                    return ("google API problem")
            except:
                return ("Response not in valid JSON format")
    except:
        return("Something went wrong with requests.get")
    dis=response_data['rows'][0]['elements'][0]['distance']['text']
    dur=response_data['rows'][0]['elements'][0]['duration']['text']
    
    return dis,dur

In [42]:
lat_lng=get_lat_lng(Targets[0])#Istanbul
latitude=np.append(latitude,lat_lng[0])
Longitude=np.append(Longitude,lat_lng[1])

In [43]:
lat_lng=get_lat_lng(Targets[1])#Amsterdan
latitude=np.append(latitude,lat_lng[0])
Longitude=np.append(Longitude,lat_lng[1])

In [44]:
lat_lng=get_lat_lng(Targets[2])#Valletta
latitude=np.append(latitude,lat_lng[0])
Longitude=np.append(Longitude,lat_lng[1])

In [45]:
lat_lng=get_lat_lng(Targets[3])#Basel
latitude=np.append(latitude,lat_lng[0])
Longitude=np.append(Longitude,lat_lng[1])

In [46]:
lat_lng=get_lat_lng(Targets[4])#Doha
latitude=np.append(latitude,lat_lng[0])
Longitude=np.append(Longitude,lat_lng[1])

In [47]:
dis_dur=distance_duration(Targets[0])
Distance=np.append(Distance,dis_dur[0])
Duration=np.append(Duration,dis_dur[1])

In [48]:
dis_dur=distance_duration(Targets[1])
Distance=np.append(Distance,dis_dur[0])
Duration=np.append(Duration,dis_dur[1])

In [49]:
dis_dur=distance_duration(Targets[2])
Distance=np.append(Distance,dis_dur[0])
Duration=np.append(Duration,dis_dur[1])

In [50]:
dis_dur=distance_duration(Targets[3])
Distance=np.append(Distance,dis_dur[0])
Duration=np.append(Duration,dis_dur[1])

In [51]:
dis_dur=distance_duration(Targets[4])
Distance=np.append(Distance,dis_dur[0])
Duration=np.append(Duration,dis_dur[1])

In [54]:
data = {'Target':Targets , 'Distance_km':Distance ,'Duration (hour+minutes)':Duration , 'Longitude': Longitude,'Latitude':latitude}
df_matala3 = pd.DataFrame(data=data)

In [55]:
df_matala3

      Target Distance_km Duration (hour+minutes)  Longitude   Latitude
0   Istanbul    1,815 km         21 hours 3 mins  28.978359  41.008238
1  Amsterdam    4,533 km          2 days 0 hours   4.904139  52.367573
2   Valletta    3,793 km          2 days 3 hours  14.514100  35.899237
3      Basel    4,093 km          1 day 20 hours   7.588576  47.559599
4       Doha    2,164 km        22 hours 39 mins  51.531040  25.285447